.boddy{
    padding: 0px;
    margin: 0px;
}
.prueba{
    display: flex;
}
.imag{
    width: 100%;
    margin-top: 40px;
}

.conteiner-1{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
}
.subs-1{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 18px;
    font-family: sans-serif;
    font-stretch: ultra-condensed;
}
.subs-2{
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.conteiner-contac{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 0px;
}
.imgconc{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    padding-left: 25px;
    padding-right: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.conteiner-info{
    padding-top: 5px;
}
.conteiner-1{
    color: aliceblue;
}

.conteiner-skills{
    display: flex;
}
.subs-2-1{
    color: aliceblue;
    font-family: cursive;
    font-size: 14px;
    margin-left: 10px;
}
.barra-1-1{
    width: 100px;
    position: relative;
}
.barra-2-2{
    background-color: aliceblue;
    width: 140px;
    height: 13%;
    margin-bottom: 21px;
    margin-left: 8px;
    border-radius: 20px;
}
.barra-2-2-1{
    background-color: aliceblue;
    width: 120px;
    height: 13%;
    margin-bottom: 21px;
    margin-left: 8px;
    border-radius: 20px;
}
.barra-1{
    width: 100px;
    display: flex;
    flex-direction: column;
}
.barra-2{
    background-color: black;
    display: flex;
    width: 70px;
    height: 20px;
    margin-bottom: 24px;
    margin-left: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.subs-sw{
    color: aliceblue;
    font-family: cursive;
    font-size: 14px;
    margin-left: 10px;
    padding-bottom: 8px;
}
.barra-sw-1{
    width: 100px;
    position: relative;
    margin-left: 80px;
}
.barra-sw-1-1{
    background-color: aliceblue;
    width: 140px;
    height: 13%;
    margin-bottom: 21px;
    margin-left: 8px;
    border-radius: 20px;
}
.barra-sw-1-1-1{
    background-color: aliceblue;
    width: 120px;
    height: 13%;
    margin-bottom: 21px;
    margin-left: 8px;
    border-radius: 20px;
}
.barra-sw-2{
    width: 100px;
    display: flex;
    flex-direction: column;
}
.barra-sw-2-2{
    background-color: black;
    display: flex;
    width: 70px;
    height: 20px;
    margin-bottom: 24px;
    margin-left: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.imghob-p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.imghob-h{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40px;
    height: 60px;
    padding-left: 12px;
    padding-right: 10px;
    border-radius: 10px;
}
.imghob{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    padding-top: 8px;
}

/*Esto es la siguiente parte, donde va la mayor parte de información*/

.conteiner-2{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 1222.5px;
}

.nombres{
    justify-content: center;
}
.tnombre{
    padding-top: 20px;
    color: blueviolet;
    font-size: 50px;
    font-family: cursive;
    justify-content: center;
    display: flex;
}
.tappellido{
    font-size: 70px;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.subs-1-c2{
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 22px;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.primera-info{
    display: flex;
    padding-left: 40px;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.titulos-c2{
    display: flex;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.titulos-c2-0{
    color: aliceblue;
    background-color: blueviolet;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

